<h1 class="display-6 d-flex justify-content-center mt-5">Añada un nuevo producto</h1>
<form action="/productos" method="post" class="form mt-4 d-flex justify-content-center">
    <input type="text" name="title" placeholder="Titulo" class="form-control-sm ">
    <input type="number" name="price" placeholder="Precio" class="form-control-sm">
    <input type="url" name="thumbnail" placeholder="Imagen"> 
    <input type="submit" value="Enviar">
</form>